$colorFont: #333;
$colorSecondary: #979797;
$colorElement: #828282;
$colorBorder: #bdbdbd;
$colorHover: #c8d7e2;
$colorHoverTwo: #9bb7ca;
$background: #eaeaea;

$white: #f2f2f2;
$allWhite: #fff;
$green: #1c8548;
$red: #EB5757;
$black: #000;
$yellow: #ffc92c;
$darkYellow: #ffa701;

// Breakpoints for future media queries
$breakpointMobile: 576px;
$breakpointTablet: 768px;
$breakpointDesktop: 992px;
$breakpointLargeScreen: 1200px;