@import '../../sass/index.scss';

.footer {
  background-color: $allWhite;
  bottom: 0;
  // color: $colorSecondary;
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 0 2rem;
  position: fixed;
  width: 100%;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  &::after {
    @include clearFix;
  }
}